.card-container {
    margin-top: 150pt;
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
}

.card{
    border-radius: 16pt;
    display: flex;
}

.card.mobile {
    display: none;
    width: 360px;
    height: 630px;
}

.card.web {
    display: flex;
    width: 630px;
    height: 360px;
    padding-right: 128px;
}

.card-layout {
    display: flex;
    flex-direction: row;
    padding-left: 64px;
    background: #1C1C1C;
    border: 1pt solid #343434;
    border-radius: 16pt;
}

@media screen and (max-width: 800px) {
    .card.mobile {
        display: flex;
        width: 360px;
        height: 630px;
        margin-left: -18px;
    }

    .card-container {
        margin-top: 0;
    }
    
    .card.web {
        display: none;
    }

    .card-layout {
        flex-direction: column;
        padding-left: 0;
    }
}
