.text-only {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

a {
    color: white;
}

a .hover {
    color: white;
}

h1 {
    font-family: 'Inter';
    font-size: 20pt;
    margin: 0px;
    color: white;
}
h2 {
    font-family: 'Inter';
    font-size: 10pt;
    font-weight: normal;
    margin:0;
    color: white;
}
p {
    font-family: 'Inter';
    font-size: 8pt;
    opacity: 0.8;
    margin:0;
    color: white;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 14pt;
    }
    h2 {
        font-size: 10pt;
        opacity: 0.8;
    }
}

.items h2 {
    font-family: 'Courier New';
    font-size: 16pt;
    font-weight: normal;
    margin:0;
    color: white;
}
.items p {
    font-family: 'Courier New';
    font-size: 12pt;
    opacity: 0.8;
    margin:0;
    color: white;
}

.big-card-header p {
    font-family: 'Courier New';
    font-size: 12pt;
    opacity: 0.8;
    margin:0;
    color: white;
}
