@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    background-color: #3d3e8e;
}

.bgHero {
    height: 128px;
    width: 100%;
    background-color: #1973b0;
}

.bgBody {
    background-image: url('/assets/b/sunrise.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 520px;
    width: 100%;
}

.bgContainer {
    position: absolute;
    z-index: -1;
    width: 100%;
}

/*     background-image: url('/assets/b/sunrise.png'); */
.base {
    /* background-color: #fdfad6; */
    background-color: white;
    width: 100%;
    height: 100%;
    /* padding-left: 16px;
    padding-right: 16px; */
}

.base a {
    color: blue;
}

.base a:hover {
    color: purple;
    text-decoration: underline;
}

@font-face {
    font-family: acme;
    src: url("../../fonts/acme.ttf");
}

@font-face {
    font-family: acme-bold;
    src: url("../../fonts/acme-bold.ttf");
}

@media (min-width: 576px) {
    .base {
        width: 760px;
    }
}