.header {
    background-color: #fefde1;
    color: #08579c;
    font-size: x-large;
    font-weight: bolder;
    border-color: #fef8b8;
    padding-bottom: 8px;
    padding-left: 24px;
    border-width: 0 0 4px 0;
}