/**
.baseBanner {
    background-color: #0097c9;
    background: linear-gradient(to bottom, #0c4b65, #0097c9);
    border-bottom: 8px solid #ffcd08;
    color: white;
    /* https://online-fonts.com/fonts/acme-explosive/download */
/* } */

.hero {
    background-color: #1973b0;
}

.logoOuterContainer {
    background-color: #fefde1;
}

.logoInnerContainer {
    background-color: #1973b0;
    height: 94px;
    width: 200px;
    border-radius: 0 0 36px 0;
    /* maybe use box shadow*/
    border-color: #074276;
    border-width: 0 0 4px 0;
    padding-bottom: 36px;

}

.navbarOuterContainer {
    background-color: #fefde1;
    width: 100%;
    height: 128px;
}

.navbarInnerContainer {
    background-color: #1973b0;
    width: 100%;
}

.navbar {
    border-radius: 36px 36px 0 0;
    background-color: #023a69;
    color: #f6bb3c;
    width: 100%;
    height: 48px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 576px) {
    .navbarOuterContainer {
        height: 158px;
    }

    .navbar {
        height: 108px;
        flex-wrap: wrap;
        align-content: center;
    }

    .logoInnerContainer {
        height: 156px;
        flex-wrap: wrap;
        padding-top: 36px;
        padding-left: 8px;
    }
}

.navbar a {
    color: white;
    font-weight: 500;
    letter-spacing: 0.5pt;
    padding-left: 10px;
    padding-right: 10px;
    white-space:nowrap;
}

.navbar a:hover {
    color: #f6bb3c;
    font-weight: 500;
    letter-spacing: 0.5pt;
    text-decoration: none;
}