.bannerContainer {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10000;
    pointer-events: none;
}

.banner {
    background-color: red;
    width: 200px;
    text-align: center;
    /* margin-top: 48px;
    margin-left: -48px; */
    margin-top: 48px;
    margin-left: -48px;
    color: white;
    transform: rotate(-45deg);
    overflow-x: hidden;
    max-width: 100%;
    font-family: 'acme'
}

@media (max-width: 500px) {
    .banner {
        width: 200px;
        margin-left: -36px;
    }
}