.card-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card{
    background: #1C1C1C;
    border: 1pt solid #7D7D7D;
    border-radius: 16pt;
    display: flex;
}

.card.mobile {
    display: none;
    width: 360px;
    height: 630px;
    flex-direction: column;
}

.card.web {
    display: flex;
    width: 630px;
    height: 360px;
    padding-left: 64px;
    padding-right: 64px;
    flex-direction: row;
}

@media screen and (max-width: 680px) {
    .card.mobile {
        display: flex;
    }
    
    .card.web {
        display: none;
    }
}

