.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px;
}

.company-list.web {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.links.web {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-body img {
    height: 26px;
}

.social-details {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.social-detail {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-bottom: 8px;
}

.social-detail img {
    width: 16px;
    height: 16px;
    margin-right: 12px;
    margin-top: 2px;
}

.social-detail h2 a {
    text-decoration: none;
}