.circle {
  position: absolute;
  z-index: 2;
}

.ring {
  margin-top: 72px;
  animation-name: spin; /* The name of the @keyframes rule */
  animation-duration: 10s; /* How long the animation takes to complete one cycle */
  animation-iteration-count: infinite; /* How many times the animation should repeat (infinite for continuous) */
  animation-timing-function: linear; /* The speed curve of the animation (linear for a constant speed) */
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Start with no rotation */
  }
  100% {
    transform: rotate(360deg); /* Rotate a full 360 degrees */
  }
}
