.card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.link-icons {
   display: flex;
}

.link-icons img {
    width: 20px;
    margin-left: 12px;
    margin-bottom: 4px;
 }

.card-footer {
    padding: 16px;
    text-align: center;
}

.company-list.mobile {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.company-list.mobile img {
    height: 22px;
}

