@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.base {
    /* background-color: #fdfad6; */
    background-color: white;
    width: 100%;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2),
    -5px 0px 5px rgba(0, 0, 0, 0.2);
    /* padding-left: 16px;
    padding-right: 16px; */
}

.base a {
    color: blue;
}

.base a:hover {
    color: purple;
    text-decoration: underline;
}

.base-banner {
    background-color: #0097c9;
    background: linear-gradient(to bottom, #0c4b65, #0097c9);
    border-bottom: 8px solid #ffcd08;
    color: white;
        /* https://online-fonts.com/fonts/acme-explosive/download */
}

.navbar-penguin {
    background: linear-gradient(to bottom, #025374, #106793);
       color: white;
        /* https://online-fonts.com/fonts/acme-explosive/download */
    font-family: acme;
}

.navbar-penguin a {
    text-decoration: none;
    color: white;
}

.navbar-penguin .disabled {
    text-decoration: none;
    color: rgb(167, 167, 167);
}

.navbar-penguin a:hover {
    color: yellow;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.443);
}

@font-face {
    font-family: acme;
    src: url("./fonts/acme.ttf");
}

@font-face {
    font-family: acme-bold;
    src: url("./fonts/acme-bold.ttf");
}

@media (min-width: 576px) { 
    .base {
    width: 760px;
    }
 }

 body {
    color: black;
 }
