li.line {
    border-color: #f8c300;
    border-style: solid;
    height: 100%;
}

li.dot {
    border-radius: 50%;
    background-color: red;
    border-style: solid;
    border-color: black;
    width: 64px;
    height: 64px;
}